.container {
  width: 100%;
  padding-right: 15px auto;
  margin: 0 auto;
}

.logo {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: #0097A7;
}

.logo:before {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #0097A7;
    content: "";
    left: 20px;
}

.logo:after {
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: #0097A7;
    content: "";
    right: 20px;
}