.container {
  width: 100%;
  padding-right: 15px auto;
  margin: 0 auto;
}

.logo {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: #f00;
}

.logo:before {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #f00000;
    content: "";
    left: 90px;
}