.container {
  width: 500px;
  height: 500px;
  background-color: #a2cce9;
}

.logo {
    margin: 0 auto;
    position: relative;
    width: 10%;
    height: 90%;
    background-color: #0097A7;
}

.logo::before {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #0097A7;
    content: "";
    left: 130%;
}

.logo::after {
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: #0097A7;
    content: "";
    right: 130%;
}

span{
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: #ddec06;
    content: "";
    right: 160%;
}